<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products$" >
      <th scope="row" [routerLink]="[ '/item/', item.id]">{{item.id}}</th>
      <td [routerLink]="[ '/item/', item.id]">{{item.name}}</td>
      <td [routerLink]="[ '/item/', item.id]">{{item.category}}</td>
      <td [routerLink]="[ '/item/', item.id]">{{item.price}}</td>
      <td style="text-align: center"><button type="button" class="btn btn-success" (click)="addToChart(item.id)">Add to chart</button></td>
    </tr>
  </tbody>
</table>
